[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "QuantumOps"]
	path = QuantumOps
	url = https://github.com/cran/QuantumOps
	shallow = true
	registered = true
